<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

</head>

<form action="/emprunter/return" Method="POST">
    <label for='NumEmprunt'>ENTRER VOTRE NUMERO D'EMPRUNT</label>
    <input type="number" name="NumEmprunt" id="NumEmprunt" />
    <label for='NumEmprunt'>ENTRER LE NOMBRE DE JOURS DE SANCTION (0 si aucune)</label>
    <input type="number" name="NbSanction" id="NbSanction" value="0" />


    <button type="submit"> VALIDER </button>
</form>

</body>

</html>