<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>


  <a href="emprunteur/">
    <button> GESTION DES EMPRUNTEURS</button>
  </a>

  <a href="book/add">
    <button> AJOUTER UN OUVRAGE</button>
  </a>

  <a href="/book/delete">
    <button> SUPPRIMER UN OUVRAGE</button>
  </a>

  <a href="/book/search ">
    <button> CHERCHER UN OUVRAGE</button>
  </a>

  <a href="/book/update">
    <button> METTRE A JOUR UN OUVRAGE</button>
  </a>

  <a href="/emprunter/save">
    <button> EMPRUNTER UN OUVRAGE</button>
  </a>

  <a href="/emprunter/return">
    <button> RENDRE UN OUVRAGE</button>
  </a>






</body>

</html>